<div class="social_idxbox stack clear-fix">
    <ul class="clear-fix">
        <li class="WeChat">
            <a href="http://www.chinatimes.com/handheld/wechat" target="_blank"
               title="WeChat-中時電子報">WeChat-中時電子報t</a>
        </li>
        <li class="weishi">
            <a href="http://weishi.com/u/24699409" target="_blank" title="微視-中時電子報">
                微視-中時電子報
            </a>
        </li>
        <li class="weibo">
            <a href="http://weibo.com/chinatimessocial" target="_blank" title="weibo-中時電子報">
                weibo-中時電子報
            </a>
        </li>
        <li class="tudou">
            <a href="http://www.tudou.com/home/chinatimes" target="_blank"
               title="tudou-中時電子報">tudou-中時電子報</a>
        </li>
        <li class="Snapchat">
            <a href="http://www.chinatimes.com/handheld/snapchat" target="_blank"
               title="Snapchat-中時電子報">Snapchat-中時電子報</a>
        </li>
        <li class="Line">
            <a href="http://www.chinatimes.com/handheld/line" target="_blank"
               title="LINE-中時電子報">LINE-中時電子報</a>
        </li>
        <li class="Pinterest">
            <a href="http://www.pinterest.com/chinatimes/" target="_blank"
               title="Pinterest-中時電子報">Pinteres-中時電子報t</a>
        </li>
        <li class="Flickr">
            <a href="http://www.flickr.com/photos/chinatimes/" target="_blank"
               title="Flickr-中時電子報">Flickr-中時電子報</a>
        </li>
        <li class="linkedin">
            <a href="http://www.chinatimes.com/handheld/LinkedIn" target="_blank"
               title="LinkedIn-中時電子報">LinkedIn-中時電子報</a>
        </li>
        <li class="tumblr">
            <a href="http://chinatimessocial.tumblr.com/" target="_blank"
               title="tumblr-中時電子報">tumblr-中時電子報</a>
        </li>
        <li class="Twitter">
            <a href="https://twitter.com/#!/tw_chinatimes" target="_blank"
               title="Twitter-中時電子報">Twitter-中時電子報</a>
        </li>
        <li class="plurk">
            <a title="Plurk-中時電子報" target="_blank" href="http://www.plurk.com/honey_news">
                Plurk-中時電子報
            </a>
        </li>
        <li class="Instagram">
            <a href="http://instagram.com/chinatimessocial" target="_blank"
               title="Instagram-中時電子報">Instagram-中時電子報</a>
        </li>
        <li class="radio">
            <a rel="nofollow" href="https://itunes.apple.com/tw/podcast/zhong-shi-dian-zi-baoonline/id875756058?l=zh&mt=2"
               target="_blank" title="Online Radio-中時電子報">Online Radio-中時電子報</a>
        </li>
    </ul>
</div>