@*6月7日 http://www.chinatimes.com/realtimenews/ *@
@{
    Layout = "~/Views/Shared/Index05/_Layout.cshtml";
}

<div class="page_container stack clear-fix realtimenews">
    <article>
        <ul class="page_index">
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <h6>
                    <a href="/" itemprop="url"><span itemprop="title">首頁</span></a>
                </h6>
            </li>

            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <h6>
                    <a href="/realtimenews/" itemprop="url">
                        <span itemprop="title">
                            即時新聞
                        </span>
                    </a>
                </h6>
            </li>

        </ul>
        <section class="np_alllist">
            <header>
                <h3>即時總覽</h3>
            </header>
            <div class="clear-fix">
                <div class="listLeft">
                    <ul><li class="tab on clear-fix"><a href="/realtimenews/">即時總覽</a><span class="rwd">即時總覽</span><span>(592)</span><span class="arrow"></span></li><li class="clear-fix"><a href="/realtimenews/260401"><span class="sub_icon"></span>焦點<span>(17)</span></a></li><li class="clear-fix"><a href="/realtimenews/260407"><span class="sub_icon"></span>政治<span>(46)</span></a></li><li class="clear-fix"><a href="/realtimenews/260405"><span class="sub_icon"></span>生活<span>(115)</span></a></li><li class="clear-fix"><a href="/realtimenews/260402"><span class="sub_icon"></span>社會<span>(41)</span></a></li><li class="clear-fix"><a href="/realtimenews/260404"><span class="sub_icon"></span>娛樂<span>(47)</span></a></li><li class="clear-fix"><a href="/realtimenews/260403"><span class="sub_icon"></span>運動<span>(30)</span></a></li><li class="clear-fix"><a href="/realtimenews/260410"><span class="sub_icon"></span>財經<span>(220)</span></a></li><li class="clear-fix"><a href="/realtimenews/260408"><span class="sub_icon"></span>國際<span>(29)</span></a></li><li class="clear-fix"><a href="/realtimenews/260409"><span class="sub_icon"></span>兩岸<span>(25)</span></a></li><li class="clear-fix"><a href="/realtimenews/260412"><span class="sub_icon"></span>科技<span>(16)</span></a></li><li class="clear-fix"><a href="/realtimenews/260417"><span class="sub_icon"></span>軍事<span>(6)</span></a></li><li class="tab clear-fix"><a href="/realtimenews/hot/">熱門總覽</a><span class="rwd">熱門總覽</span><span>(172)</span><span class="icon_16x16"><a href="/realtimenews/hot/"></a></span><span class="arrow"></span></li><li class="tab clear-fix"><a href="/realtimenews/recommend/">推薦總覽</a><span class="rwd">推薦總覽</span><span>(92)</span><span class="icon_16x16"><a href="/realtimenews/recommend/"></a></span><span class="arrow"></span></li></ul>
                </div>
                <div class="listRight">
                    <ul>

                        <li class="clear-fix">
                            <h2>
                                <a href="/realtimenews/20160607003303-260410" class="">
                                    《股利-半導體》聯電決配息0.55元，H2不看衰
                                </a>
                            </h2>
                            <div class="rt_info clear-fix">
                                <span class="icon_16x16"></span>
                                <time datetime="2016/06/07 11:43"><span class="h">11:43</span> 2016/06/07</time>
                                <a href="/realtimenews/8">時報資訊</a>
                            </div>

                            <div class="kindOf">
                                <a href="260410 ">
                                    財經
                                </a>
                            </div>
                        </li>

                        <li class="clear-fix">
                            <h2>
                                <a href="/realtimenews/20160607003234-260407" class="">
                                    高雄大林蒲何時遷村？陳菊：越快越好
                                </a>
                            </h2>
                            <div class="rt_info clear-fix">
                                <span class="icon_16x16"></span>
                                <time datetime="2016/06/07 11:43"><span class="h">11:43</span> 2016/06/07</time>
                                <a href="/realtimenews/11">中時稿件</a>
                            </div>

                            <div class="kindOf">
                                <a href="260407 ">
                                    政治
                                </a>
                            </div>
                        </li>

                        <li class="clear-fix">
                            <h2>
                                <a href="/realtimenews/20160607003298-260410" class="">
                                    《電腦設備》童子賢「玩」科技，轉動新產值
                                </a>
                            </h2>
                            <div class="rt_info clear-fix">
                                <span class="icon_16x16"></span>
                                <time datetime="2016/06/07 11:43"><span class="h">11:43</span> 2016/06/07</time>
                                <a href="/realtimenews/8">時報資訊</a>
                            </div>

                            <div class="kindOf">
                                <a href="260410 ">
                                    財經
                                </a>
                            </div>
                        </li>

                        <li class="clear-fix">
                            <h2>
                                <a href="/realtimenews/20160607003295-260410" class="">
                                    《深滬股》上証指數下跌7.9805點、深成指數下跌26.255點
                                </a>
                            </h2>
                            <div class="rt_info clear-fix">
                                <span class="icon_16x16"></span>
                                <time datetime="2016/06/07 11:43"><span class="h">11:43</span> 2016/06/07</time>
                                <a href="/realtimenews/8">時報資訊</a>
                            </div>

                            <div class="kindOf">
                                <a href="260410 ">
                                    財經
                                </a>
                            </div>
                        </li>

                        <li class="clear-fix">
                            <h2>
                                <a href="/realtimenews/20160607003273-260410" class="">
                                    《大陸產業》茂業商業定增28億，收購3百貨資產
                                </a>
                            </h2>
                            <div class="rt_info clear-fix">
                                <span class="icon_16x16"></span>
                                <time datetime="2016/06/07 11:42"><span class="h">11:42</span> 2016/06/07</time>
                                <a href="/realtimenews/8">時報資訊</a>
                            </div>

                            <div class="kindOf">
                                <a href="260410 ">
                                    財經
                                </a>
                            </div>
                        </li>

                        <li class="clear-fix">
                            <h2>
                                <a href="/realtimenews/20160607003248-260405" class="">
                                    準備好迎接高齡化？一次認識老人長照與遠距照護
                                </a>
                            </h2>
                            <div class="rt_info clear-fix">
                                <span class="icon_16x16"></span>
                                <time datetime="2016/06/07 11:41"><span class="h">11:41</span> 2016/06/07</time>
                                <a href="/realtimenews/16">中時電子報</a>
                            </div>

                            <div class="kindOf">
                                <a href="260405 ">
                                    生活
                                </a>
                            </div><span class="icon pic"><a href="/realtimenews/20160607003248-260405">圖片</a></span>
                        </li>

                        <li class="clear-fix">
                            <h2>
                                <a href="/realtimenews/20160607003153-260405" class="">
                                    國定假日不能減 勞團轟一例一休是詐騙
                                </a>
                            </h2>
                            <div class="rt_info clear-fix">
                                <span class="icon_16x16"></span>
                                <time datetime="2016/06/07 11:40"><span class="h">11:40</span> 2016/06/07</time>
                                <a href="/realtimenews/11">中時稿件</a>
                            </div>

                            <div class="kindOf">
                                <a href="260405 ">
                                    生活
                                </a>
                            </div>
                        </li>

                        <li class="clear-fix">
                            <h2>
                                <a href="/realtimenews/20160607003237-260405" class="">
                                    一顆肉粽熱量等於一個雞腿便當！選粽5大健康原則
                                </a>
                            </h2>
                            <div class="rt_info clear-fix">
                                <span class="icon_16x16"></span>
                                <time datetime="2016/06/07 11:36"><span class="h">11:36</span> 2016/06/07</time>
                                <a href="/realtimenews/16">中時電子報</a>
                            </div>

                            <div class="kindOf">
                                <a href="260405 ">
                                    生活
                                </a>
                            </div><span class="icon pic"><a href="/realtimenews/20160607003237-260405">圖片</a></span>
                        </li>

                        <li class="clear-fix">
                            <h2>
                                <a href="/realtimenews/20160607003184-260410" class="">
                                    《盤中》法人搶卡位 台股中場上漲62點登高8659
                                </a>
                            </h2>
                            <div class="rt_info clear-fix">
                                <span class="icon_16x16"></span>
                                <time datetime="2016/06/07 11:32"><span class="h">11:32</span> 2016/06/07</time>
                                <a href="/realtimenews/13">工商稿件</a>
                            </div>

                            <div class="kindOf">
                                <a href="260410 ">
                                    財經
                                </a>
                            </div>
                        </li>

                        <li class="clear-fix">
                            <h2>
                                <a href="/realtimenews/20160607003140-260402" class="">
                                    一句「看三小」結怨遭砍 警方2小時內逮人
                                </a>
                            </h2>
                            <div class="rt_info clear-fix">
                                <span class="icon_16x16"></span>
                                <time datetime="2016/06/07 11:27"><span class="h">11:27</span> 2016/06/07</time>
                                <a href="/realtimenews/11">中時稿件</a>
                            </div>

                            <div class="kindOf">
                                <a href="260402 ">
                                    社會
                                </a>
                            </div><span class="icon pic"><a href="/realtimenews/20160607003140-260402">圖片</a></span>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="pagination clear-fix">
                <ul>
                    <li class="disabled">第一頁</li>
                    <li class="disabled">上一頁</li>
                    <li class="current">1</li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=2">2</a></li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=3">3</a></li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=4">4</a></li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=5">5</a></li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=6">6</a></li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=7">7</a></li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=8">8</a></li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=9">9</a></li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=10">10</a></li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=2">下一頁</a></li>
                    <li><a href="http://www.chinatimes.com/realtimenews/?page=60">最後一頁</a></li>
                </ul>
            </div>
        </section>
        <section class="rl_box">
            <div class="title">
                現正發燒關鍵字
            </div>

            <div id="WallBox" style="width: 100%; height: 200px; margin: 0 auto;">
                <div id="WallArea" style="width: 645px; height: 200px;">
                </div>
            </div>

            <script src="http://cache.chinatimes.com/Scripts/DynamicWall.min.js?20140110" type="text/javascript"
                    defer></script>
            <script type="text/javascript">
    $(function () {
        var sss = new DynamicWall();
        sss.SetTarget("WallArea");
        sss.SetColumnAndRow(3, 2);
        sss.SetSource(GetUrl_Cn("/Search/GetJson"), "word", "url");
        sss.Start();
    });
            </script>
        </section>
        <section class="hotnews_list"></section>
        <script type="text/javascript">
    var datas =  {  'CategoryID': 2604 }
    var myurl = GetUrl_Cn('/Hotnews/Hot');
    AjaxGetHots(myurl, datas);
        </script>

    </article>

    <aside>
        <div class="rt_source">
            <div class="title">
                新聞來源
            </div>
            <div class="rt_all">
                <div class="rt_all_title">
                    熱門：
                </div>
                <ul class="group clear-fix"><li><span></span><a href="/realtimenews/16">中時電子報<span>(125)</span></a></li><li><span></span><a href="/realtimenews/11">中時稿件<span>(206)</span></a></li><li><span></span><a href="/realtimenews/13">工商稿件<span>(116)</span></a></li><li><span></span><a href="/realtimenews/14">旺報稿件<span>(21)</span></a></li><li><span></span><a href="/realtimenews/23">時周稿件<span>(2)</span></a></li><li><span></span><a href="/realtimenews/26">集團連線報導<span>(5)</span></a></li><li><span></span><a href="/realtimenews/8">時報資訊<span>(117)</span></a></li> </ul>

                <div class="rt_all_title">
                    其他：
                </div>
                <ul class="partner clear-fix"><li><span></span><a href="/realtimenews/6">中央社</a></li> </ul>

            </div>
        </div>
        <div class="ad">

            <!--頻道目錄頁黃金文字廣告code-->
            <div class="text-ad">
                <div id="divAD"></div>
                <script type="text/javascript" defer="defer" src="http://pagead.chinatimes.com/api/getA/chinatimes/news/index/20" onload="try{init('divAD');}catch(e){}"></script>
            </div>
            <div class="banner-300x250">
                <div id='div-dfp-StandardMiddleRight' style='width: 300px; height: 250px; display: none;'>
                </div>
            </div>
            <div class="banner-300x250">
                <div id='div-dfp-StandardBottomRight' style='width: 300px; height: 250px; display: none'>
                </div>
            </div>
            <div class="banner-300x250">
                <ins class="adsbygoogle" style="display: inline-block; width: 300px; height: 250px"
                     data-ad-client="ca-pub-3165442964443939" data-ad-slot="2352609604"></ins>
                <script>
        if (!isRWD) {
            (adsbygoogle = window.adsbygoogle || []).push({});
        }
                </script>
            </div>
            <div class="banner-300x167">
                <div id='div-dfp-StraightHugeRight' style='width: 300px; height: 600px;'>
                </div>
            </div>
        </div>
        <!--Facebook page plugin開始-->
        <section class="facebook-page-plugin realtimenews">
            <header>
                <h6 class="section-title">
                    <span class="logo-facebook">
                        <i class="fa fa-facebook">
                        </i>
                    </span>快，才是硬道理！
                </h6>
            </header>
            <div class="fb-page" data-href="https://www.facebook.com/www.chinatimes.com.tw" data-tabs="timeline"
                 data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                 data-show-facepile="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/www.chinatimes.com.tw">
                        <a href="https://www.facebook.com/www.chinatimes.com.tw">
                            中時電子報【即時新聞】頻道
                        </a>
                    </blockquote>
                </div>
            </div>
        </section>
        <!--Facebook page plugin結束-->
    </aside>


    <div id='div-dfp-StraightLeft' class="googlead_d_120600" style='display: none'>
    </div>
    <div id='div-dfp-StraightRight' class="googlead_g_120600" style='display: none'>
    </div>
</div>

