@*6月7日 http://www.chinatimes.com/ *@
@{
    Layout = "~/Views/Shared/Index03/_Layout.cshtml";
}

<section id="idx_headline_box" class="idx_headline_box">
    <header>
        <h4>頭條要聞</h4>
    </header>
    <article>
        <div id="idx_headline">
            <div class="idx_headline_player">
                <ul class="idx_headline_list">




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607002375-260407">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008938300450323.jpg" title="林全:我漁民可在沖之鳥捕魚" alt="林全:我漁民可在沖之鳥捕魚">
                            <h1>林全:我漁民可在沖之鳥捕魚</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607002375-260407" title="點閱數">7464</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607002354-260407">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008921627453038.jpg" title="國民黨:不需認賊作父的人" alt="國民黨:不需認賊作父的人">
                            <h1>國民黨:不需認賊作父的人</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607002354-260407" title="點閱數">15776</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/newspapers/20160607000485-260109">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008733177718044.jpg" title="投資戰爭還是投資和平？" alt="投資戰爭還是投資和平？">
                            <h1>投資戰爭還是投資和平？</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/newspapers/20160607000485-260109" title="點閱數">21290</a></div>

                        <a href="javascript:idx_relate(20160607000485, 260109);" class="related_news"><span></span>相關議題</a>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607001755-260401">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008902610083636.jpg" title="蔡親美遠中 台成南海危機中心" alt="蔡親美遠中 台成南海危機中心">
                            <h1>蔡親美遠中 台成南海危機中心</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607001755-260401" title="點閱數">11224</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607001933-260401">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008849669986651.jpg" title="台中機場10條兩岸航線 停飛" alt="台中機場10條兩岸航線 停飛">
                            <h1>台中機場10條兩岸航線 停飛</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607001933-260401" title="點閱數">36599</a></div>

                        <a href="javascript:idx_relate(20160607001933, 260401);" class="related_news"><span></span>相關議題</a>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/newspapers/20160607000420-260102">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008743480288139.jpg" title="國門癱瘓 桃機員工5點下班" alt="國門癱瘓 桃機員工5點下班">
                            <h1>國門癱瘓 桃機員工5點下班</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/newspapers/20160607000420-260102" title="點閱數">55239</a></div>

                        <a href="javascript:idx_relate(20160607000420, 260102);" class="related_news"><span></span>相關議題</a>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607001254-260408">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008870651711504.jpg" title="撞死送報生 林克穎竟討人權" alt="撞死送報生 林克穎竟討人權">
                            <h1>撞死送報生 林克穎竟討人權</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607001254-260408" title="點閱數">10840</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607002538-260410">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008950235407285.jpg" title="郭董學英文 狂練5小時為了..." alt="郭董學英文 狂練5小時為了...">
                            <h1>郭董學英文 狂練5小時為了...</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607002538-260410" title="點閱數">1236</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607002097-260407">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008863648079203.jpg" title="林全立院施政報告 現場直擊" alt="林全立院施政報告 現場直擊">
                            <h1>林全立院施政報告 現場直擊</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607002097-260407" title="點閱數">2221</a></div>

                    </li>




                    <li>

                        <a href="http://tube.chinatimes.com/20160607002529-261402">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/656/20160607002534.jpg" title="子瑜上韓綜 撕錯名牌落敗" alt="子瑜上韓綜 撕錯名牌落敗">
                            <h1>子瑜上韓綜 撕錯名牌落敗</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://tube.chinatimes.com/20160607002529-261402" title="點閱數">107</a></div>

                    </li>




                    <li>

                        <a href="http://tube.chinatimes.com/20160607002691-261402">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/656/20160607002792.jpg" title="陸大學聯考登場 作弊入刑" alt="陸大學聯考登場 作弊入刑">
                            <h1>陸大學聯考登場 作弊入刑</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://tube.chinatimes.com/20160607002691-261402" title="點閱數">123</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607001851-260401">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008905229952237.jpg" title="廖俊智:被動參選 五味雜陳" alt="廖俊智:被動參選 五味雜陳">
                            <h1>廖俊智:被動參選 五味雜陳</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607001851-260401" title="點閱數">6887</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607002120-260409">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/656/20160607002218.jpg" title="世界最有權陸女 彭麗媛輸她!" alt="世界最有權陸女 彭麗媛輸她!">
                            <h1>世界最有權陸女 彭麗媛輸她!</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607002120-260409" title="點閱數">5869</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607002184-260408">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008877680771850.jpg" title="美聯社:希拉蕊獲民主黨提名" alt="美聯社:希拉蕊獲民主黨提名">
                            <h1>美聯社:希拉蕊獲民主黨提名</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607002184-260408" title="點閱數">5418</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607001392-260404">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/656/20160607001399.jpg" title="詩詩幸福!吳奇隆半裸爆肌肉" alt="詩詩幸福!吳奇隆半裸爆肌肉">
                            <h1>詩詩幸福!吳奇隆半裸爆肌肉</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607001392-260404" title="點閱數">5457</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607001452-260404">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/656/20160607001610.jpg" title="性感女神鍾麗緹 全裸上陣" alt="性感女神鍾麗緹 全裸上陣">
                            <h1>性感女神鍾麗緹 全裸上陣</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607001452-260404" title="點閱數">11004</a></div>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607002293-260405">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008940270889783.jpg" title="全新天空步道 誘人藍湖在前方" alt="全新天空步道 誘人藍湖在前方">
                            <h1>全新天空步道 誘人藍湖在前方</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607002293-260405" title="點閱數">610</a></div>

                        <a href="javascript:idx_relate(20160607002293, 260405);" class="related_news"><span></span>相關議題</a>

                    </li>




                    <li>

                        <a href="http://www.chinatimes.com/realtimenews/20160607001390-260403">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008826215501456.jpg" title="不可不知!5位台灣傳奇名將" alt="不可不知!5位台灣傳奇名將">
                            <h1>不可不知!5位台灣傳奇名將</h1>
                            <span></span>
                        </a>

                        <div class="click"><a href="http://www.chinatimes.com/realtimenews/20160607001390-260403" title="點閱數">7274</a></div>

                    </li>




                    <li>

                        <a href="http://quiz.chinatimes.com/20160606003874-320101">

                            <img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008867479289932.jpg" title="桃機淹水相關敘述 何者為非?" alt="桃機淹水相關敘述 何者為非?">
                            <h1>桃機淹水相關敘述 何者為非?</h1>
                            <span></span>
                        </a>

                    </li>


                </ul>
            </div>
            <div class="idx_headline_control">
                <ul class="arrows">
                    <li class="prev"><a href="#" title="上一則">上一則</a></li>
                    <li class="next"><a href="#" title="下一則">下一則</a></li>
                </ul>
            </div>
        </div>
    </article>
</section>