
@{
    Layout = null;
}

<h2>Index</h2>

以下連結為測試各區塊單獨執行<br />
@Html.ActionLink("Index04_header", "Index04_header")<br />
@Html.ActionLink("Index04_nav", "Index04_nav")<br />
@Html.ActionLink("Index04_social_idxbox", "Index04_social_idxbox")<br />
@Html.ActionLink("Index04_footer", "Index04_footer")<br />
