<ul class="page_index">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <h6>
            <a href="/" itemprop="url"><span itemprop="title">首頁</span></a>
        </h6>
    </li>

    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <h6>
            <a href="/@ViewData["channel"]/" itemprop="url">
                <span itemprop="title">
                    @ViewData["title"]
                </span>
            </a>
        </h6>
    </li>

</ul>
