<div class="social_idxbox stack clear-fix">
    <ul class="clear-fix">
        <li class="WeChat">
            <a href="@ViewData["main_url"]handheld/wechat" target="_blank"
               title="WeChat-@ViewData["site_name"]">WeChat-@ViewData["site_name"]t</a>
        </li>
        <li class="weishi">
            <a href="http://weishi.com/u/24699409" target="_blank" title="微視-@ViewData["site_name"]">
                微視-@ViewData["site_name"]
            </a>
        </li>
        <li class="weibo">
            <a href="http://weibo.com/chinatimessocial" target="_blank" title="weibo-@ViewData["site_name"]">
                weibo-@ViewData["site_name"]
            </a>
        </li>
        <li class="tudou">
            <a href="http://www.tudou.com/home/chinatimes" target="_blank"
               title="tudou-@ViewData["site_name"]">tudou-@ViewData["site_name"]</a>
        </li>
        <li class="Snapchat">
            <a href="@ViewData["main_url"]handheld/snapchat" target="_blank"
               title="Snapchat-@ViewData["site_name"]">Snapchat-@ViewData["site_name"]</a>
        </li>
        <li class="Line">
            <a href="@ViewData["main_url"]handheld/line" target="_blank"
               title="LINE-@ViewData["site_name"]">LINE-@ViewData["site_name"]</a>
        </li>
        <li class="Pinterest">
            <a href="http://www.pinterest.com/chinatimes/" target="_blank"
               title="Pinterest-@ViewData["site_name"]">Pinteres-@ViewData["site_name"]t</a>
        </li>
        <li class="Flickr">
            <a href="http://www.flickr.com/photos/chinatimes/" target="_blank"
               title="Flickr-@ViewData["site_name"]">Flickr-@ViewData["site_name"]</a>
        </li>
        <li class="linkedin">
            <a href="@ViewData["main_url"]handheld/LinkedIn" target="_blank"
               title="LinkedIn-@ViewData["site_name"]">LinkedIn-@ViewData["site_name"]</a>
        </li>
        <li class="tumblr">
            <a href="http://chinatimessocial.tumblr.com/" target="_blank"
               title="tumblr-@ViewData["site_name"]">tumblr-@ViewData["site_name"]</a>
        </li>
        <li class="Twitter">
            <a href="https://twitter.com/#!/tw_chinatimes" target="_blank"
               title="Twitter-@ViewData["site_name"]">Twitter-@ViewData["site_name"]</a>
        </li>
        <li class="plurk">
            <a title="Plurk-@ViewData["site_name"]" target="_blank" href="http://www.plurk.com/honey_news">
                Plurk-@ViewData["site_name"]
            </a>
        </li>
        <li class="Instagram">
            <a href="http://instagram.com/chinatimessocial" target="_blank"
               title="Instagram-@ViewData["site_name"]">Instagram-@ViewData["site_name"]</a>
        </li>
        <li class="radio">
            <a rel="nofollow" href="https://itunes.apple.com/tw/podcast/zhong-shi-dian-zi-baoonline/id875756058?l=zh&mt=2"
               target="_blank" title="Online Radio-@ViewData["site_name"]">Online Radio-@ViewData["site_name"]</a>
        </li>
    </ul>
</div>
