<footer>
    <div class="mobile">
        <div class="stack clear-fix">
            <div class="mobile_box clear-fix">
                <ul>
                    <li>
                        <a href="/handheld/chinatimes-mobile" title="中時電子報">
                            <span class="m_app"></span>
                            <p>中時電子報</p>
                        </a>
                    </li>
                    <li>
                        <a href="/handheld/want-want-mobile" title="旺旺中時">
                            <span class="wwm"></span>
                            <p>旺旺中時</p>
                        </a>
                    </li>
                    <li>
                        <a href="/handheld/want-want-tablet" title="翻爆">
                            <span class="wwt"></span>
                            <p>翻爆</p>
                        </a>
                    </li>
                    <li>
                        <a href="/sitemap" title="網站地圖">
                            <span class="site_map"></span>
                            <p>網站地圖</p>
                        </a>
                    </li>
                    <li>
                        <a href="/syndication/rss" title="RSS">
                            <span class="rss"></span>
                            <p>RSS</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="share_box clear-fix">
                <ul>
                    <li>
                        <a href="http://www.facebook.com/CTfans" target="_blank">
                            <span class="icon fb">
                            </span>中時電子報<span class="num">979,800</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/user/ChinaTimes" target="_blank">
                            <span class="icon youtube">
                            </span>訂閱人數<span class="num">684,950</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://plus.google.com/+%E4%B8%AD%E6%99%82%E9%9B%BB%E5%AD%90%E5%A0%B1/posts"
                           target="_blank"><span class="icon google"></span>中時電子報<span class="num">567,115</span></a>
                    </li>
                    <li>
                        <a href="http://e.weibo.com/showbizct" target="_blank">
                            <span class="icon weibo">
                            </span>新影視頻道<span class="num">513,092</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="corpinfo stack clear-fix">
        <div class="clumn1">
            <div class="title_name">
                客戶服務
            </div>
            <ul class="clear-fix">
                <li><a href="/customer/ads" rel="nofollow">廣告刊登</a></li>
                <li>
                    <a href="http://edm.member.chinatimes.com/2006/chinese/index.html" target="_blank"
                       rel="nofollow">報紙廣告</a>
                </li>
                <li><a href="http://reader.chinatimes.com/" target="_blank" rel="nofollow">中國時報 客服信箱</a></li>
                <li>
                    <a href="http://tol.chinatimes.com/CT_NS/ctsearch.aspx" target="_blank" rel="nofollow">
                        檢索
                    </a> <a href="http://sso.chinatimes.com/" target="_blank" rel="nofollow">會員</a>
                </li>
            </ul>
        </div>
        <div class="clumn2">
            <div class="title_name">
                網站介紹
            </div>
            <ul class="clear-fix">
                <li class="wantwant clear-fix">
                    <a href="http://www.want-want.com/tw/" target="_blank"
                       rel="nofollow"><img src="/images/wantwant_logo_80x80.gif" title="旺旺集團logo" alt="旺旺集團logo" /></a>
                    <ul>
                        <li><a href="http://www.want-want.com/tw/" target="_blank" rel="nofollow">旺旺集團</a></li>
                        <li><a href="/customer/websites" rel="nofollow">集團網站</a></li>
                    </ul>
                </li>
                <li class="chinatimes clear-fix">
                    <img src="/images/chinagroup_logo_80x80.gif" title="中時媒體集團logo"
                         alt="中時媒體集團logo" />
                    <ul>
                        <li><a href="/customer/introduce" rel="nofollow">中時媒體集團</a></li>
                        <li><a href="/customer/about" rel="nofollow">關於我們</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clumn3">
            <div class="title_name">
                網站服務
            </div>
            <ul class="clear-fix">
                <li><a href="/news-feed/news-feed-idx" rel="nofollow">新聞工具列</a></li>
                <li><a href="/customer/service" rel="nofollow">服務條款</a></li>
                <li><a href="/customer/contact" rel="nofollow">與我連絡</a></li>
                <li><a href="https://lecoin.chinatimes.com/" rel="nofollow" target="_blank">一起做公益</a></li>
            </ul>
        </div>
    </div>
    <div class="fbox">
        <div class="fbox_fit clear-fix stack">

            <div class="crp clear-fix">
                <div class="title">合作夥伴</div>
                <ul class="clear-fix">

                    <li><a href="http://magazine.chinatimes.com/wantweekly/5013" target="_blank" rel="nofollow">周刊王</a></li>

                    <li><a href="http://magazine.chinatimes.com/igirl/4992" target="_blank" rel="nofollow">愛女生</a></li>

                    <li><a href="http://magazine.chinatimes.com/ctweekly/5001" target="_blank" rel="nofollow">時報周刊</a></li>

                    <li><a href="http://magazine.chinatimes.com/asiafortune/5004" target="_blank" rel="nofollow">亞洲財經</a></li>

                    <li><a href="http://magazine.chinatimes.com/businessnext/4957" target="_blank" rel="nofollow">數位時代</a></li>

                    <li><a href="http://magazine.chinatimes.com/moneyweekly/5012" target="_blank" rel="nofollow">理財周刊</a></li>

                    <li><a href="http://weibo.chinatimes.com/" target="_blank" rel="nofollow">微博精選</a></li>

                    <li><a href="http://web.toutiao.com/" target="_blank" rel="nofollow">今日頭條</a></li>

                    <li><a href="http://hbrb.cnhubei.com/cache/paper_hbrb.aspx" target="_blank" rel="nofollow">湖北日報</a></li>

                    <li><a href="http://zgws.xinhuanet.com/scencelist.aspx" target="_blank" rel="nofollow">我在現場</a></li>

                    <li><a href="http://bbs.tianya.cn/" target="_blank" rel="nofollow">天涯論壇</a></li>

                    <li><a href="http://hk.on.cc/" target="_blank" rel="nofollow">on.cc東網</a></li>

                    <li><a href="http://magazine.chinatimes.com/babylife/4962" target="_blank" rel="nofollow">育兒生活</a></li>

                    <li><a href="http://magazine.chinatimes.com/mombaby/4963" target="_blank" rel="nofollow">媽咪寶貝</a></li>

                    <li><a href="http://magazine.chinatimes.com/mababy/4964" target="_blank" rel="nofollow">嬰兒與母親</a></li>

                    <li><a href="http://magazine.chinatimes.com/emba/5016" target="_blank" rel="nofollow">EMBA雜誌</a></li>

                    <li><a href="http://newsblog.chinatimes.com/manager/archive/36176" target="_blank" rel="nofollow">反網路霸凌</a></li>

                    <li><a href="http://magazine.chinatimes.com/gfamily/5023" target="_blank" rel="nofollow">未來Family</a></li>

                    <li><a href="http://magazine.chinatimes.com/businesstoday/5006" target="_blank" rel="nofollow">今周刊雜誌</a></li>

                    <li><a href="http://magazine.chinatimes.com/wealth/4972" target="_blank" rel="nofollow">財訊雙週刊</a></li>

                    <li><a href="http://magazine.chinatimes.com/books" target="_blank" rel="nofollow">好書俱樂部</a></li>

                    <li><a href="http://goo.gl/PXWXos" target="_blank" rel="nofollow">中時電子報ＡＰＰ下載</a></li>

                    <li><a href="https://goo.gl/1MM60A" target="_blank" rel="nofollow">中時電子報新視頻專頁</a></li>

                    <li><a href="https://goo.gl/jybIKs" target="_blank" rel="nofollow">中時電子報粉絲加油團</a></li>

                    <li><a href="http://quiz.chinatimes.com" target="_blank" rel="nofollow">-報時國中-新聞大考驗</a></li>

                </ul>
            </div>

            <div class="rlx clear-fix">
                <div class="title">輕鬆一下<span>by cteditor</span></div>
                <ul class="clear-fix">

                    <li><a href="http://photo.chinatimes.com/20160606006136-260814" target="_blank" rel="nofollow">美國人猩珍貴合影</a><a href="http://photo.chinatimes.com/20160606006136-260814" target="_blank" rel="nofollow"><img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008875134847378.jpg" title="美國人猩珍貴合影" alt="美國人猩珍貴合影" /></a><a href="http://photo.chinatimes.com/20160606006136-260814" target="_blank" rel="nofollow">印證40年友誼</a></li>

                    <li><a href="http://photo.chinatimes.com/20160607001394-260805" target="_blank" rel="nofollow">祖克柏愛用懶人密碼？</a><a href="http://photo.chinatimes.com/20160607001394-260805" target="_blank" rel="nofollow"><img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008910766713962.jpg" title="祖克柏愛用懶人密碼？" alt="祖克柏愛用懶人密碼？" /></a><a href="http://photo.chinatimes.com/20160607001394-260805" target="_blank" rel="nofollow">被駭密碼是這組！</a></li>

                    <li><a href="http://newsblog.chinatimes.com/gloomybear/archive/47613" target="_blank" rel="nofollow">倫敦古蹟教堂探訪</a><a href="http://newsblog.chinatimes.com/gloomybear/archive/47613" target="_blank" rel="nofollow"><img src="http://img.chinatimes.com/newsphoto/2016-06-07/Miscellaneous/h20160607636008878511317309.jpg" title="倫敦古蹟教堂探訪" alt="倫敦古蹟教堂探訪" /></a><a href="http://newsblog.chinatimes.com/gloomybear/archive/47613" target="_blank" rel="nofollow">地下洞穴裡吃飯的滋味</a></li>

                </ul>
            </div>

        </div>
    </div>
    <div class="rwdfootermenu">
        <div class="searchfooter">
            <form class="searchfooterform" name="footerSearch" action="http://www.chinatimes.com/search/result.htm">
                <input type="text" class="searchinputtext" name="q" placeholder="請輸入新聞搜尋關鍵字">
                <button class="searchinputbutton" type="submit"></button>
            </form>
        </div>
        <div class="new-box clear-fix">
            <ul class="clum_left">
                <li class="menu menu_realtime"><a href="http://www.chinatimes.com/realtimenews">即時</a></li>
                <li class="menu menu_papers"><a href="http://www.chinatimes.com/newspapers/">日報</a></li>
                <li class="menu menu_star"><a href="http://star.chinatimes.com/">影視</a></li>
                <li class="menu menu_pic"><a href="http://www.chinatimes.com/photo-app/">圖輯</a></li>
                <li class="menu menu_blog"><a href="http://newsblog.chinatimes.com/">部落格</a></li>
                <li class="menu menu_more"><a href="http://www.chinatimes.com/syndication/robots">精選</a></li>
            </ul>
            <ul class="clum_right">
                <li class="menu menu_app">
                    <a href="http://www.chinatimes.com/handheld/chinatimes-mobile">
                        APP下載
                    </a>
                </li>
                <li class="menu menu_sport"><a href="http://www.chinatimes.com/sports/">運動</a></li>
                <li class="menu menu_tv"><a href="http://tube.chinatimes.com/">電視</a></li>
                <li class="menu menu_mag"><a href="http://magazine.chinatimes.com/">書刊</a></li>
                <li class="menu menu_vote"><a href="http://ivoting.chinatimes.com/">投票</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <div class="stack clear-fix">
            <address>
                <a href="/customer/infotimes" rel="nofollow">
                    <img src="/images/infotimes-logo187x46.gif"
                         title="時報資訊股份有限公司logo" alt="時報資訊股份有限公司logo" />
                </a><span>
                    © 1995 - 2016
                    China Times Inc. 請尊重智慧財產權勿任意轉載違者依法必究。
                </span>
            </address>
        </div>
    </div>
</footer>