<aside>
    <div class="rt_source">
        <div class="title">
            新聞來源
        </div>
        <div class="rt_all">
            <div class="rt_all_title">
                熱門：
            </div>
            <ul class="group clear-fix"><li><span></span><a href="/@ViewData["channel"]/16">@ViewData["site_name"]<span>(115)</span></a></li><li><span></span><a href="/@ViewData["channel"]/11">中時稿件<span>(169)</span></a></li><li><span></span><a href="/@ViewData["channel"]/13">工商稿件<span>(42)</span></a></li><li><span></span><a href="/@ViewData["channel"]/14">旺報稿件<span>(15)</span></a></li><li><span></span><a href="/@ViewData["channel"]/26">集團連線報導<span>(8)</span></a></li><li><span></span><a href="/@ViewData["channel"]/8">時報資訊<span>(60)</span></a></li><li><span></span><a href="/@ViewData["channel"]/34">專題報導<span>(6)</span></a></li> </ul>

            <div class="rt_all_title">
                其他：
            </div>
            <ul class="partner clear-fix"><li><span></span><a href="/@ViewData["channel"]/6">中央社</a></li> </ul>

        </div>
    </div>
    <div class="ad">

        <!--頻道目錄頁黃金文字廣告code-->
        <div class="text-ad">
            <div id="divAD"></div>
            <script type="text/javascript" defer="defer" src="http://pagead.chinatimes.com/api/getA/chinatimes/news/index/20" onload="try{init('divAD');}catch(e){}"></script>
        </div>
        <div class="banner-300x250">
            <div id='div-dfp-StandardMiddleRight' style='width: 300px; height: 250px; display: none;'>
            </div>
        </div>
        <div class="banner-300x250">
            <div id='div-dfp-StandardBottomRight' style='width: 300px; height: 250px; display: none'>
            </div>
        </div>
        <div class="banner-300x250">
            <ins class="adsbygoogle" style="display: inline-block; width: 300px; height: 250px"
                 data-ad-client="ca-pub-3165442964443939" data-ad-slot="2352609604"></ins>
            <script>
        if (!isRWD) {
            (adsbygoogle = window.adsbygoogle || []).push({});
        }
            </script>
        </div>
        <div class="banner-300x167">
            <div id='div-dfp-StraightHugeRight' style='width: 300px; height: 600px;'>
            </div>
        </div>
    </div>
    <!--Facebook page plugin開始-->
    <section class="facebook-page-plugin @ViewData["channel"]">
        <header>
            <h6 class="section-title">
                <span class="logo-facebook">
                    <i class="fa fa-facebook">
                    </i>
                </span>快，才是硬道理！
            </h6>
        </header>
        <div class="fb-page" data-href="https://www.facebook.com/www.chinatimes.com.tw" data-tabs="timeline"
             data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
             data-show-facepile="true">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/www.chinatimes.com.tw">
                    <a href="https://www.facebook.com/www.chinatimes.com.tw">
                        @ViewData["site_name"]【@ViewData["title"]】頻道
                    </a>
                </blockquote>
            </div>
        </div>
    </section>
    <!--Facebook page plugin結束-->
</aside>
